* {
  margin: 0;
  padding: 0;
}

/* setup header */
body {
  overflow-x: hidden;
}

@font-face {
  font-family: "retro";
  src: url(../assets/fonts/Magic\ Retro.ttf);
}
#tituloPrincipal {
  margin-top: 45px;
  vertical-align: center;
  text-align: center;
  font-size: 3rem;
  font-family: "retro";
  color: white;
  position: absolute;
  left: 45%;
}

.menu1 {
  border-bottom: 1px solid #9bd957;
  background-image: url(../assets/img/bkg-footer-header.webp);
  background-color: #000;
  background-size: auto 110%;
  background-repeat: repeat-x;
}

button.navbar-toggler {
  border: none;
}

.menu_chiquito {
  border: 1px solid #9bd957;
  background-image: url(../assets/icons/burger-menu-svgrepo-com.svg);
}

nav.navbar .nav-item .nav-link,
#formulario input[type=submit],
#formulario input[type=reset],
#navbarSupportedContent .search_form .btn.search {
  border: 1px solid #9bd957;
  background-color: transparent;
  border-radius: 10px;
  color: #fff;
  transition: all 0.3s ease;
}
nav.navbar .nav-item .nav-link:hover, nav.navbar .nav-item .nav-link.active,
#formulario input[type=submit]:hover,
#formulario input[type=submit].active,
#formulario input[type=reset]:hover,
#formulario input[type=reset].active,
#navbarSupportedContent .search_form .btn.search:hover,
#navbarSupportedContent .search_form .btn.search.active {
  background-color: #402469;
  border-color: #84f991;
}

nav.navbar .nav-item .nav-link {
  padding: 10px;
  margin: 20px;
  position: relative;
  display: inline-block;
}

/* nav.navbar .nav-item .nav-link:hover, 
nav.navbar .nav-item .nav-link.active, 
#navbarSupportedContent .search_form .btn.search:hover {
	// color: #000;
	// color: rgb(159,125,232);
	// background-color: rgb(194, 124, 114);
	// background-color: #198754;
	// background-color: rgb(159,125,232);
	background-color: #402469;
	// border: 1px solid #fff;
	border-color: #9F1CA1;
} */
#navbarSupportedContent .search_form {
  margin-right: 25px;
}

#navbarSupportedContent .search_form .search {
  color: white;
}

a {
  text-decoration: none;
  text-align: left;
}

div ul li a:link {
  color: rgb(10, 10, 10);
  display: inline-block;
  border: 1px solid black;
}

/* setup main */
main {
  width: 100vw;
  min-height: 100vh;
  padding-top: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
  position: relative;
  overflow: hidden;
  background-image: url(../assets/img/cyberpunkwave-01.webp);
}

#formulario {
  text-align: center;
  padding: 10px;
  margin: 5px;
  color: white;
}

#formulario div textarea {
  max-width: 100%;
}

#formulario fieldset {
  display: flex;
  justify-content: center;
  column-gap: 15px;
  margin-bottom: 15px;
}

#formulario input[type=submit],
#formulario input[type=reset] {
  padding-right: 8px;
  padding-left: 8px;
}

#wrapperCajitas {
  text-align: center;
}

.cajita {
  width: 20%;
  height: 220px;
  margin: 10px;
  display: inline-block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 20;
}

.cajita1 {
  background-image: url(../assets/img/monkey.webp);
}

.cajita2 {
  background-image: url(../assets/img/reverie.webp);
}

.cajita3 {
  background-image: url(../assets/img/Synapse.webp);
}

.cajita4 {
  background-image: url(../assets/img/remnant2.webp);
}

.cajita5 {
  background-image: url(../assets/img/HL.webp);
}

.cajita6 {
  background-image: url(../assets/img/megaman.webp);
}

.cajita7 {
  background-image: url(../assets/img/DI2.webp);
}

.cajita8 {
  background-image: url(../assets/img/r6.webp);
}

.cajita9 {
  background-image: url(../assets/img/doom_ftw.webp);
}

.cajita10 {
  background-image: url(../assets/img/skyrim.webp);
}

.cajita11 {
  background-image: url(../assets/img/V_for_Vendetta_large.webp);
}

.cajita12 {
  background-image: url(../assets/img/21_Blackjack_large.webp);
}

.cajita13 {
  background-image: url(../assets/img/Shazam_large.webp);
}

.cajita1_movie {
  height: 400px;
  background-size: contain;
  background-image: url(../assets/img/65.webp);
}

.cajita2_movie {
  height: 400px;
  background-size: contain;
  background-image: url(../assets/img/Ant_Man_y_la_Avispa_Quantumanaia-585469373-large.webp);
}

.cajita3_movie {
  height: 400px;
  background-size: contain;
  background-image: url(../assets/img/jw4.webp);
}

.cajita4_movie {
  height: 400px;
  background-size: contain;
  background-image: url(../assets/img/shazam.webp);
}

.cajita5_movie {
  height: 400px;
  background-size: contain;
  background-image: url(../assets/img/knockatthecabin.webp);
}

.cajita6_movie {
  height: 400px;
  background-size: contain;
  background-image: url(../assets/img/scream6.webp);
}

.cajita7_movie {
  height: 400px;
  background-size: contain;
  background-image: url(../assets/img/Los_Fabelman-723163902-large.webp);
}

.cajita8_movie {
  height: 400px;
  background-size: contain;
  background-image: url(../assets/img/jason_bourne.webp);
}

.cajita9_movie {
  height: 400px;
  background-size: contain;
  background-image: url(../assets/img/V_For_Vendetta.webp);
}

.cajita10_movie {
  height: 400px;
  background-size: contain;
  background-image: url(../assets/img/21_Blackjack.webp);
}

@media (max-width: 1180px) {
  .cajita {
    width: calc(33.33% - 24px);
    height: 220px;
    margin: 10px;
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 20;
  }
}
@media (max-width: 840px) {
  .cajita {
    width: calc(50% - 24px);
    height: 220px;
    margin: 10px;
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 20;
  }
}
@media (max-width: 650px) {
  .cajita {
    width: 100%;
    height: 220px;
    margin: 10px;
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 20;
  }
}
article h3 {
  margin-top: 10px;
  color: rgb(255, 255, 255);
  font-size: 40px;
  text-align: center;
  font-family: "retro";
  letter-spacing: 10px;
}

p {
  text-align: center;
  position: relative;
  color: white;
  font-size: 20px;
}

article h4 {
  text-align: left;
  position: relative;
  color: white;
  font-size: 18px;
}

.columna_de_publicidad {
  width: 140px;
  height: auto;
  position: fixed;
  right: 15px;
  bottom: 15px;
  overflow: hidden;
}

.columna_de_publicidad .rounded-circle {
  overflow: hidden;
}

.columna_de_publicidad .rounded-circle a,
.columna_de_publicidad .rounded-circle a img {
  width: 100%;
  display: block;
}

.columna_de_publicidad .rounded-circle a {
  height: 100%;
}

.columna_de_publicidad .rounded-circle a img {
  transition: all 0.3s ease;
}

.columna_de_publicidad .rounded-circle a:hover img {
  transform: scale(1.05);
}

#carouselExample {
  margin-top: 70px;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-item img {
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 1025px) {
  .carousel-item img {
    width: 50%;
  }
}
/* Setup de footer */
footer {
  height: 10vh;
  width: 100vw;
  overflow: hidden;
  background-image: url(../assets/img/bkg-footer-header.webp);
  background-size: cover;
  color: white;
}

#derechos {
  margin-bottom: 0;
  margin-top: 10px;
  text-align: center;
  margin-right: 20px;
}

#createdByFlame {
  text-align: center;
  margin-right: 20px;
}

.twitter {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  position: relative;
}

/* setup 404 */
#body_404 {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#notfound {
  position: relative;
  height: 100vh;
  background: #030005;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 180px;
  margin-bottom: 20px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 224px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -12px;
  color: #030005;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px #8400ff, 1px 1px 0px #ff005a;
  letter-spacing: -20px;
}

.notfound .notfound-404 h2 {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 110px;
  font-size: 42px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 2px 0px #8400ff;
  letter-spacing: 13px;
  margin: 0;
}

.notfound a {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  text-transform: uppercase;
  color: #ff005a;
  text-decoration: none;
  border: 2px solid;
  background: transparent;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #8400ff;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 h2 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 480px) {
  .notfound .notfound-404 h1 {
    font-size: 182px;
  }
}

/*# sourceMappingURL=style.css.map */
